.bidBtn {
  padding: 6px 20px;

  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  color: #fff;

  border-radius: 5px;
  background-color: #18c576;
  white-space: nowrap;

  transition: background-color 0.2s linear;

  &:hover {
    background-color: #13a563;
  }
}
