.main {
  padding: 0 16px;
  height: 100vh;

  background-color: #fff;
  position: relative;

  &__bg-image {
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background: center / cover no-repeat url('../../img/mainBg.jpg');
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      z-index: 1;

      transition: background-color 0.3s linear;
    }

    &:hover {
      &::before {
        background-color: rgba(0, 0, 0, 0.15);
      }

      .main__view-btn {
        transform: scale(1.05);
        background-color: #13a563;
      }
    }
  }

  &__view-btn {
    position: relative;
    padding: 8px 28px;
    font-size: 16px;
    color: #fff;
    background-color: #18c576;
    border: none;
    cursor: pointer;
    overflow: hidden;
    z-index: 2; // чтобы кнопка была над оверлеем
    clip-path: polygon(7% 0%, 100% 0%, 93% 100%, 0% 100%); // Скошенные углы в другую сторону

    transition: 0.2s linear;

    span {
      font-weight: 500;
      font-style: italic;
      position: relative;
      z-index: 2;
    }
  }

  &__play-icon {
    width: 14px;
    height: 14px;
  }
}
